[submodule "libraries/koinos-log-cpp"]
	path = libraries/log
	url = https://github.com/koinos/koinos-log-cpp.git
[submodule "libraries/koinos-util-cpp"]
	path = libraries/util
	url = https://github.com/koinos/koinos-util-cpp.git
[submodule "libraries/koinos-exception-cpp"]
	path = libraries/exception
	url = https://github.com/koinos/koinos-exception-cpp.git
[submodule "libraries/koinos-crypto-cpp"]
	path = libraries/crypto
	url = https://github.com/koinos/koinos-crypto-cpp.git
[submodule "libraries/koinos-mq-cpp"]
	path = libraries/mq
	url = https://github.com/koinos/koinos-mq-cpp.git
[submodule "libraries/proto"]
	path = libraries/proto
	url = https://github.com/koinos/koinos-proto-cpp.git
